<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ root }}style.css">
</head>
<body>
{% block body %}{% endblock %}

<footer>
  <a href="https://github.com/mikeedjones" aria-label="GitHub" class="icon">{{ icons.github | safe }}</a>
  <a href="https://www.linkedin.com/in/medjones91/" aria-label="LinkedIn" class="icon">{{ icons.linkedin | safe }}</a>
</footer>
</body>
</html>
